<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>

    <!-- cse motors favicon -->
    <link rel="icon" href="/images/site/icon.png" type="image/png">
     
    <!-- cse motors favicon-32x32 -->
    <link rel="icon" href="/images/site/favicon-32x32.png" type="image/png">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
</head>